<h1>Edit Post</h1>
<div class="row">
  <div class="span4">
    <p>Guidelines for new posts:</p>
    <ul>
      <li>Make sure content is appropriate.</li>
      <li>Bloccit uses Markdown, You can read about it <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">here</a></li>
      <li>Blah blah blah</li>
      <li>Blah blah blah</li>
    </ul>
  </div>
  <div class="span8">
  <%= render partial: 'form', locals: { topic: @topic, post: @post } %>
  </div>
</div>